<div class="table-container">
  <mat-tab-group color="primary" backgroundColor="accent">
    <mat-tab label="Admin First">
      <div class="tab-content">
        <div class="tab-text">Admin Content 1</div>
      </div>
    </mat-tab>
    <mat-tab label="Admin Second">
      <div class="tab-content">
        <div class="tab-text">Admin Content 2</div>
      </div>
    </mat-tab>
    <mat-tab label="Admin Third">
      <div class="tab-content">
        <div class="tab-text">Admin Content 3</div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
