<div class="table-container">
  <mat-accordion color="primary">
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
      *ngFor="let feature of features"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="panel-title">
            <span class="panel-key">
              Key: {{ feature?.key }} ({{ feature?.kind }})
            </span>
          </div>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <div class="panel-field-header">Variations:</div>
      <span class="panel-value">
        <mat-slide-toggle
          class="example-margin"
          [color]="'blue'"
          [checked]="feature.defaultValue"
          [disabled]="false"
          (change)="toggleFeature($event, feature)"
        >
        </mat-slide-toggle>
      </span>
      <ul class="list-rules">
        <li *ngFor="let rule of feature?.rules?.variations; index as i">
          <div>
            <div class="panel-key">
              Rule {{ i + 1 }}: {{ rule.name }}
              <div class="code">
                {{ rule.value }}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
